In [1]:
import sqlite3

In [2]:
with sqlite3.connect("scrabble.db") as conn:
    conn.execute("""
        CREATE TABLE players (
            player_id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    """)

In [3]:
with sqlite3.connect("scrabble.db") as conn:
    conn.execute("""
        CREATE TABLE games (
            game_id INTEGER PRIMARY KEY,
            started_by INTEGER,
            winner INTEGER,
            FOREIGN KEY (started_by) REFERENCES players(player_id),
            FOREIGN KEY (winner) REFERENCES players(player_id)
        )
    """)

In [4]:
with sqlite3.connect("scrabble.db") as conn:
    conn.execute("""
        CREATE TABLE game_scores (
            game_id INTEGER,
            player_id INTEGER,
            score INTEGER,
            PRIMARY KEY (game_id, player_id),
            FOREIGN KEY (game_id) REFERENCES games(game_id),
            FOREIGN KEY (player_id) REFERENCES players(player_id)
        )
    """)

In [5]:
with sqlite3.connect("scrabble.db") as conn:
    conn.execute("""
    CREATE TABLE game_moves (
        game_id INTEGER,
        player_id INTEGER,
        move_number INTEGER,
        points INTEGER,
        PRIMARY KEY (game_id, player_id, move_number),
        FOREIGN KEY (game_id) REFERENCES games(game_id),
        FOREIGN KEY (player_id) REFERENCES players(player_id)
    )
    """)

In [6]:
with sqlite3.connect("scrabble.db") as conn:
    conn.execute("""
        INSERT INTO players (name)
        VALUES ('Deniz'), ('Danyel'), ('Robin')
    """)

In [7]:
def get_player_id(connection, name: str) -> int | None:
    response = connection.execute("""
        SELECT player_id
        FROM players
        WHERE name = ?
    """, (name,))

    result = response.fetchone()
    if result:
        return result[0]

    return None

In [8]:
import pandas as pd

df = pd.read_csv("scrabble_data.csv")

with sqlite3.connect("scrabble.db") as conn:
    deniz_id = get_player_id(conn, "Deniz")
    danyel_id = get_player_id(conn, "Danyel")
    robin_id = get_player_id(conn, "Robin")

with sqlite3.connect("scrabble.db") as conn:
    for _, row in df.iterrows():
        started_by_id = get_player_id(conn, row["starting_player"])
        winner_id = get_player_id(conn, row["winner"])

        cursor = conn.execute("""
            INSERT INTO games (started_by, winner)
            VALUES (?, ?)
        """, (started_by_id, winner_id))

        game_id = cursor.lastrowid

        conn.executemany("""
            INSERT INTO game_scores (game_id, player_id, score)
            VALUES (?, ?, ?)
        """, [
            (game_id, deniz_id, row["Deniz"]),
            (game_id, danyel_id, row["Danyel"]),
            (game_id, robin_id, row["Robin"])
        ])

In [9]:
import pandas as pd

df = pd.read_csv("scrabble_data.csv")

df

,Deniz,Danyel,Robin,winner,starting_player,deniz_scores,danyel_scores,robin_scores
0,195,181,229,Robin,NaN,NaN,NaN,NaN
1,92,123,195,Robin,NaN,NaN,NaN,NaN
2,155,150,136,Deniz,NaN,NaN,NaN,NaN
3,127,67,195,Robin,NaN,NaN,NaN,NaN
4,146,208,165,Danyel,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
107,214,192,152,Deniz,Robin,NaN,NaN,NaN
108,154,203,224,Robin,Robin,NaN,NaN,NaN
109,194,209,144,Danyel,Deniz,NaN,NaN,NaN
110,166,140,203,Robin,Deniz,NaN,NaN,NaN
111,204,180,208,Robin,Danyel,NaN,NaN,NaN

In [14]:
with sqlite3.connect("scrabble.db") as conn:
    response = conn.execute("""
        SELECT * FROM game_scores
    """)
    result = response.fetchall()

    print(result)

[(1, 1, 195), (1, 2, 181), (1, 3, 229), (2, 1, 92), (2, 2, 123), (2, 3, 195), (3, 1, 155), (3, 2, 150), (3, 3, 136), (4, 1, 127), (4, 2, 67), (4, 3, 195), (5, 1, 146), (5, 2, 208), (5, 3, 165), (6, 1, 142), (6, 2, 246), (6, 3, 238), (7, 1, 222), (7, 2, 159), (7, 3, 133), (8, 1, 79), (8, 2, 165), (8, 3, 202), (9, 1, 162), (9, 2, 168), (9, 3, 239), (10, 1, 154), (10, 2, 199), (10, 3, 186), (11, 1, 196), (11, 2, 229), (11, 3, 87), (12, 1, 91), (12, 2, 169), (12, 3, 170), (13, 1, 156), (13, 2, 222), (13, 3, 136), (14, 1, 137), (14, 2, 202), (14, 3, 120), (15, 1, 202), (15, 2, 185), (15, 3, 183), (16, 1, 153), (16, 2, 164), (16, 3, 143), (17, 1, 202), (17, 2, 171), (17, 3, 140), (18, 1, 108), (18, 2, 139), (18, 3, 196), (19, 1, 127), (19, 2, 150), (19, 3, 170), (20, 1, 164), (20, 2, 117), (20, 3, 186), (21, 1, 217), (21, 2, 147), (21, 3, 78), (22, 1, 161), (22, 2, 152), (22, 3, 152), (23, 1, 185), (23, 2, 164), (23, 3, 207), (24, 1, 171), (24, 2, 132), (24, 3, 246), (25, 1, 179), (25, 2, 184), (25, 3, 94), (26, 1, 164), (26, 2, 215), (26, 3, 141), (27, 1, 105), (27, 2, 136), (27, 3, 193), (28, 1, 91), (28, 2, 174), (28, 3, 204), (29, 1, 151), (29, 2, 188), (29, 3, 191), (30, 1, 142), (30, 2, 267), (30, 3, 132), (31, 1, 160), (31, 2, 156), (31, 3, 177), (32, 1, 124), (32, 2, 151), (32, 3, 134), (33, 1, 176), (33, 2, 174), (33, 3, 179), (34, 1, 111), (34, 2, 229), (34, 3, 105), (35, 1, 190), (35, 2, 172), (35, 3, 145), (36, 1, 102), (36, 2, 139), (36, 3, 139), (37, 1, 128), (37, 2, 152), (37, 3, 159), (38, 1, 131), (38, 2, 148), (38, 3, 126), (39, 1, 165), (39, 2, 213), (39, 3, 123), (40, 1, 136), (40, 2, 164), (40, 3, 162), (41, 1, 175), (41, 2, 159), (41, 3, 96), (42, 1, 134), (42, 2, 150), (42, 3, 192), (43, 1, 167), (43, 2, 163), (43, 3, 69), (44, 1, 154), (44, 2, 137), (44, 3, 142), (45, 1, 133), (45, 2, 144), (45, 3, 113), (46, 1, 183), (46, 2, 178), (46, 3, 149), (47, 1, 164), (47, 2, 143), (47, 3, 126), (48, 1, 163), (48, 2, 140), (48, 3, 176), (49, 1, 159), (49, 2, 207), (49, 3, 140), (50, 1, 173), (50, 2, 128), (50, 3, 163), (51, 1, 129), (51, 2, 158), (51, 3, 150), (52, 1, 158), (52, 2, 219), (52, 3, 156), (53, 1, 130), (53, 2, 121), (53, 3, 206), (54, 1, 168), (54, 2, 190), (54, 3, 127), (55, 1, 157), (55, 2, 162), (55, 3, 123), (56, 1, 135), (56, 2, 143), (56, 3, 164), (57, 1, 237), (57, 2, 104), (57, 3, 132), (58, 1, 176), (58, 2, 140), (58, 3, 213), (59, 1, 159), (59, 2, 181), (59, 3, 110), (60, 1, 213), (60, 2, 192), (60, 3, 148), (61, 1, 95), (61, 2, 193), (61, 3, 196), (62, 1, 166), (62, 2, 138), (62, 3, 171), (63, 1, 205), (63, 2, 112), (63, 3, 203), (64, 1, 195), (64, 2, 150), (64, 3, 132), (65, 1, 164), (65, 2, 250), (65, 3, 109), (66, 1, 143), (66, 2, 157), (66, 3, 117), (67, 1, 119), (67, 2, 108), (67, 3, 111), (68, 1, 109), (68, 2, 75), (68, 3, 96), (69, 1, 171), (69, 2, 136), (69, 3, 151), (70, 1, 135), (70, 2, 174), (70, 3, 167), (71, 1, 177), (71, 2, 104), (71, 3, 148), (72, 1, 128), (72, 2, 205), (72, 3, 133), (73, 1, 171), (73, 2, 135), (73, 3, 125), (74, 1, 187), (74, 2, 126), (74, 3, 120), (75, 1, 194), (75, 2, 179), (75, 3, 151), (76, 1, 163), (76, 2, 144), (76, 3, 187), (77, 1, 140), (77, 2, 173), (77, 3, 160), (78, 1, 181), (78, 2, 147), (78, 3, 95), (79, 1, 205), (79, 2, 215), (79, 3, 260), (80, 1, 155), (80, 2, 156), (80, 3, 157), (81, 1, 169), (81, 2, 129), (81, 3, 213), (82, 1, 166), (82, 2, 126), (82, 3, 134), (83, 1, 142), (83, 2, 143), (83, 3, 162), (84, 1, 150), (84, 2, 150), (84, 3, 44), (85, 1, 143), (85, 2, 150), (85, 3, 183), (86, 1, 225), (86, 2, 201), (86, 3, 181), (87, 1, 140), (87, 2, 163), (87, 3, 93), (88, 1, 137), (88, 2, 176), (88, 3, 130), (89, 1, 167), (89, 2, 151), (89, 3, 129), (90, 1, 164), (90, 2, 96), (90, 3, 209), (91, 1, 81), (91, 2, 130), (91, 3, 256), (92, 1, 147), (92, 2, 190), (92, 3, 183), (93, 1, 135), (93, 2, 195), (93, 3, 196), (94, 1, 206), (94, 2, 186), (94, 3, 188), (95, 1, 162), (95, 2, 152), (95, 3, 170), (96, 1, 226), (96, 2, 143), (96, 3, 231), (97, 1, 178), (97, 2, 190), (97, 3, 174), (98, 1, 138), (98, 2, 165), (98, 3, 157), (99, 1, 195), (99, 2, 224), (99, 3, 239), (100, 1, 175), (100, 2, 179), (100, 3, 201), (101, 1, 107), (101, 2, 170), (101, 3, 138), (102, 1, 142), (102, 2, 162), (102, 3, 178), (103, 1, 92), (103, 2, 143), (103, 3, 222), (104, 1, 92), (104, 2, 143), (104, 3, 222), (105, 1, 166), (105, 2, 185), (105, 3, 136), (106, 1, 236), (106, 2, 157), (106, 3, 158), (107, 1, 129), (107, 2, 219), (107, 3, 182), (108, 1, 214), (108, 2, 192), (108, 3, 152), (109, 1, 154), (109, 2, 203), (109, 3, 224), (110, 1, 194), (110, 2, 209), (110, 3, 144), (111, 1, 166), (111, 2, 140), (111, 3, 203), (112, 1, 204), (112, 2, 180), (112, 3, 208)]

In [3]:
import sqlite3


with sqlite3.connect("scrabble.db") as conn:
    conn.row_factory = sqlite3.Row
    response = conn.execute("""
        SELECT 
            gs.player_id, 
            p.name,
            gs.score
        FROM game_scores gs
        INNER JOIN players p ON p.player_id = gs.player_id
        WHERE game_id = ?
    """, (1,))

    result = [dict(row) for row in response.fetchall()]
    result = result[::-1]
    for r in result:
        print(r)

{'player_id': 3, 'name': 'Robin', 'score': 229}
{'player_id': 2, 'name': 'Danyel', 'score': 181}
{'player_id': 1, 'name': 'Deniz', 'score': 195}

1. Table of all games (scores of each player, start player)
    1a. Moves of a game (evolution of points over time)
2. Stats for each player (best game, worst game, average points, ...)